<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>

    <div>
        <a th:href="@{/comic/alta}"><input type="button" value="Nuevo Comic"></a>
        <a th:href="@{/tematica}"><input type="button" value="Temáticas"></a>
    </div>

    <ul>
        <li>Nombre</li>
        <li>Precio</li>
        <li>Fecha Compra</li>
        <li>Temática</li>
    </ul>
    <ul th:each="comic : ${comics}">
        <li th:text="${comic.nombre}"></li>
        <li th:text="${comic.precio}"></li>
        <li th:text="${comic.fechaRegistro}"></li>
        <li th:text="${comic.tematica.getNombre()}"></li>
        <li><a th:href="@{/comic/editar/} + ${comic.getId()}"><input type="button" value="Editar"></a></li>
        <li><a th:href="@{/comic/borrar/} + ${comic.getId()}"><input type="button" value="Eliminar"></a></li>
    </ul>
</body>
</html>