<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h3 th:text="${titulo}"></h3>

    <form th:action="@{/login}" method="post" th:object="${usuario}">
        <div>
            <label for="username">Username</label>
            <div>
                <input type="text" id="username" th:field="*{username}">
            </div>
            <div th:if="${#fields.hasErrors('username')}" th:uerrors="*{username}"></div>
        </div>

        <div>
            <label for="password">Password</label>
            <div>
                <input type="password" id="password" th:field="*{password}">
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:uerrors="*{password}"></div>
        </div>

        <div>
            <input type="submit" value="Login">
        </div>
    </form>

    <div>
        <a th:href="@{/register}"><input type="button" value="Registro"></a>
    </div>
</body>
</html>